body {
    background-color: #000000;
    position: relative;
    max-width: 430px;
    margin: 0 auto;
    
}

p,h1,h2,h3,span,strong {
    color: white;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}